2022.11.01 Geoffrey Gordon Ashbrook

```
Abstract Coding Question:

    1. Create a dataframe that looks like this:

          EMLTY & A & A       AOB
          A & B & B           xyz
          EMLTY & A & A & B   NONE


    2. define a single function to conditionally add a column:
        - if col2 is NONE then replace with A; 
            - if not NONE, drop last letter in col1
        - join processed col1 col2 together to get new col

    3. apply function to a df
```

```
EMLTY & A & A       AOB
A & B & B           xyz
EMLTY & A & A & B   NONE
```

# Sample Solution

In [44]:
"""
Your Have:  Two string columns in a pandas df

Your Need:  A third conditional column

You Must:   Use a single function

Method:
  df["col3"] = np.select(filters, values)

"""


import numpy as np
import pandas as pd

# use list of strings method to populate initial dataframe

col1_list = ["EMLTY & A & A", "A & B & B", "EMLTY & A & A & B"]

col2_list = ["AOB","xyz","NONE"]

modified_list_1 = []
modified_list_2 = []

df = pd.DataFrame( list( zip(col1_list, col2_list)), 
                  columns =['col1', 'col2'])

def preprocess(df):
    """
    requires: pandas, numpy

    define a function:
    if col2 is NONE then replace with A; if not NONE, drop last letter in col1
    join processed col1 col2 together to get new col

    uses: numpy select for conditional changes
    """  

    # Whether column 2 contains 'NONE' or not
    filters = [
      (df['col2'] == "NONE"),
      (df['col2'] != "NONE")]

    """
    Conditionally merge col1 and col2:
    - if col2 is NONE, add an 'A' to column 1
    - if col2 not NONE, remove the last character from col1 and merge with col2
    """
    values = [df['col1']+' A',
            df['col1'].str[:-1] + df['col2']]

    # apply changes
    df["col3"] = np.select(filters, values)

    return df

# apply preprocess to df via a single function
df = preprocess(df)

# print results
print(df)

                col1  col2                 col3
0      EMLTY & A & A   AOB      EMLTY & A & AOB
1          A & B & B   xyz          A & B & xyz
2  EMLTY & A & A & B  NONE  EMLTY & A & A & B A